html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    padding:0px;
}

a:hover {
    text-decoration: none;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

textarea {
    font: 11px monospace;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

div.log {
    font: 9px monospace;
	width:200px;
	height:500px;
	border:1px solid #777;
	overflow:scroll;
}